* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.side-bar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
}

.side-bar ul li {
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(60, 59, 59);
}

.side-bar ul li a {
  color: whitesmoke;
}
