* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  user-select: none;
}

#root .App {
  height: 100vh;
}

/*----------side bar---------*/

.side-bar {
  width: 0px;
  height: 100%;
  background: #151719;
  overflow: hidden;
  transition: width 0.6s;
  z-index: 1;
}

.side-bar.open {
  width: 150px;
  overflow: hidden;
}

.side-bar ul li {
  list-style: none;
  padding: 25px 35px;
  border-bottom: 1px solid rgb(50, 49, 49);
}

.side-bar ul li a {
  color: whitesmoke;
  text-decoration: none;
  transition: font-size 0.3s ease;
  font-size: 20px;
}

.side-bar ul li a:hover {
  color: #99346c;
  font-size: 25px;
}

.toggle-btn {
  display: block;
  font-size: 40px;
  cursor: pointer;
  z-index: 1;
}

.content {
  margin: auto;
  height: 300px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*-----------home page---------*/

.home-container {
  text-align: center;
  width: 400px;
}

.title {
  padding: 15px;
  font-size: 70px;
  color: #30888b;
  font-family: "Times New Roman", Times, serif;
}

.work {
  font-size: 35px;
  color: #30888b;
  font-weight: normal;
  padding: 5px;
}

.icons {
  padding: 20px;
  z-index: 1;
}

.icons a {
  padding: 15px;
  font-size: 35px;
  color: #53a080;
}

/*------------skills page-----------*/
.skills-container {
  background: white;
  width: 400px;
  margin-top: -55px;
  text-align: center;
  margin-left: -35px;
  border-radius: 20px;
}

.skills-title {
  text-align: center;
  padding-top: 10px;
}

.skills-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.skill i {
  font-size: 60px;
}

.skill p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}
